.wrapper {
  width: 430px;
  min-width: 22%;
  max-width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  border-radius: 8px;
  background: var(--sup_9);
  place-self: stretch;
}
.picture {
  aspect-ratio: 1;
  position: relative;
  border-radius: 8px;
  overflow: hidden;
}
.picture img {
  object-fit: cover;
  object-position: center;
}
.title {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 16px;
}
.title h3 {
  color: var(--primary);
}
.picture div {
  position: absolute;
  top: 16px;
  right: 16px;
  display: flex;
  justify-content: center;
  width: 80px;
  color: var(--quinary);
  padding: 8px;
  border-radius: 4px;
  font-weight: 700;
}
.item {
  display: flex;
  flex-direction: column;
  gap: 4px;
  color: var(--quinary);
}
.itemTitle {
  color: var(--sup_5);
  font-weight: 700;
  font-size: 18px;
}
.item span {
  color: var(--sup_5);
}
.pacifico {
  background-color: gold;
}
.baixo {
  background-color: green;
}
.medio {
  background-color: blue;
}
.alto {
  background-color: orange;
}
.perigoso {
  background-color: red;
}
